nav {
    background: var(--secondary);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 50%;
}

nav button {
    background: #1877F2;
    color: white;
    padding: 7px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
    border: none;
    font-size: larger;
    border: 2px solid transparent;
}

nav button:hover {
    border: 2px solid #d1515a;
}
