.home-page-heading {
    border-bottom: 8px solid var(--tertiary); 
    padding-bottom: 8px;
    margin: 30px
}

.content {
    margin: 30px;
    display: flex;
}

.topics {
    width: 20%;
    border-right: 1px solid var(--tertiary);
}

.feed {
    width: 50%;
    margin-left: 10px;   
}

.topics h2, .feed h2, .news h2{
    border-bottom: 1px solid var(--tertiary);
    padding-bottom: 10px;
}

.news {
    width: 30%;
    margin-left: 20px;
}

.feed-posts {
    margin: 10px;
}

.topics a:visited {
    color: inherit;
    text-decoration: inherit;
}

.topics a {
    text-decoration: none;
    font-weight: bold;
}

.topics a:hover {
    color: var(--secondary);
    text-decoration: underline;
}

.topics li {
    margin-bottom: 10px;
}

.news-feed {
    padding: 0 10px;
}
